#   Ignore WebStorm project directory
.idea/*

#  Ignore NPM packages
node_modules

#   Ignore user data files
data/*
app/data

#   Ignore Git message files
message*.*
commit-message.md

#   Ignore images
*.png
*.gif