//  Ignore WebStorm project directory
.idea/*

//  Ignore user data files
data/*

//  Ignore Git message files
message*.*
commit-message.md

//  Ignore Stanford JavaScript Crypto Library directory
source/sjcl-master/*

//  Ignore images
*.png
*.gif