.content {
    display: grid;
    grid-template-columns: [left] 60% [col-mid] auto [right];
    grid-template-rows: [top] minmax(100px, auto) [row-mid] auto [bottom];
    grid-template-areas:
            "plan index"
            "input index";
    align-items: start;
}

.meal-plan {
    grid-area: plan;
    padding: 0;
}
.index {
    grid-area: index;
}
.meal-input {
    grid-area: input;
}

/* .index, .meal-plan {
    width: 100%;
}

.index table, .meal-plan table {
    width: 100%;
} */

.meal-plan table {
    table-layout: fixed;
}

.meal-plan table td.header {
    width: 14%;
}

.meal-plan table td {
    font-size: 8pt;
    border-width: 1px 0 0 1px;
    border-color: black;
    border-style: solid;
    vertical-align: top;
}


.meal-plan table tr.schedule {
    height: 2em;
}
.meal-plan table tr.schedule td div {
    width: 100%;
    height: 6em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.recipe, .meal {
    cursor: pointer;
}


/* @media (min-width: 800px) {
    .meal-plan table td {
        font-size: 12pt;
    }
}

@media (min-width: 650px) {
    .index {
        width: 30%;
    }
    .meal-plan {
        width: 60%;
    }
} */